<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Title		: application context - Demo Web Application of spring-extensions Library 
	Description	: This web.xml used to define deployment descriptor   
	Copyright	: (c) 2008-2012 www.myjeeva.com
	Dated		: February 12, 2012 1:35:56 PM GMT+05:30	
	@filename	applicationContext.xml 
	@author	<a href="jeeva@myjeeva.com">Jeevanandam</a>
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd        
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">	
	
	<!-- Importing channel processing spring app context provided by www.myjeeva.com 
		 https://github.com/downloads/jeevatkm/spring-extensions/applicationContext-secure-uri.xml 
		 
		 and modified for secure link demo -->
	<import resource="applicationContext-secure-uri.xml" />	
	
</beans>
